<!-- ko with: currentProject() -->
<div class="bg-dark">
    <div class="container-fluid">
        <div class="navbar navbar-expand-md navbar-dark">
            <div class="btn-group mr-3">
                <a data-bind="attr: { href: `#/projects/${id}` }, text: name" class="btn btn-secondary" href="#"></a>
                <a class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Projects</h6>
                    <!-- ko foreach: $parent.projects -->
                    <a data-bind="attr: { href: `#/projects/${id}` }, css: { active: id === $parent.id }, text: name" class="dropdown-item" href="#"></a>
                    <!-- /ko -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/projects/new">Create new</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar-body" class="collapse navbar-collapse">
                <ul data-bind="css: { invisible: !$data }" class="navbar-nav invisible">
                    <li class="nav-item">
                        <a data-bind="attr: { href: `#/projects/${id}/strings` }, css: { active: $parent.activeTab === 'strings' }" class="nav-link" href="#">Strings</a>
                    </li>
                    <li class="nav-item">
                        <a data-bind="attr: { href: `#/projects/${id}/screenshots` }, css: { active: $parent.activeTab === 'screenshots' }" class="nav-link" href="#">Screenshots</a>
                    </li>
                    <li class="nav-item">
                        <a data-bind="attr: { href: `#/projects/${id}/translations` }, css: { active: $parent.activeTab === 'translations' }" class="nav-link" href="#">Translations</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="admin/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->