<!-- ko if: project() -->
<navigation-bar params="projects: allProjects, projectId: project().id, activeTab: 'strings'"></navigation-bar>

<div class="container-fluid">
    <div class="px-3">
        <input data-bind="textInput: filter" class="form-control mt-3" placeholder="Filter"/>

        <div data-bind="foreach: filteredStrings" class="list-group mt-3">
            <div data-bind="css: { 'list-group-item-warning': !$parent.hasScreenshotStrings($data) }" class="list-group-item">
                <div class="string">
                    <div class="string-screenshot">
                        <!-- ko if: $parent.hasScreenshotStrings($data) -->
                        <a data-bind="attr: { href: `#/projects/${$parent.project().id}/screenshots/${screenshotStrings[0].screenshot.id}` }" class="d-block">
                            <div data-bind="component: { name: 'screenshot', params: { url: screenshotStrings[0].screenshot.url, screenshotStrings: [screenshotStrings[0]] } }"></div>
                        </a>
                        <!-- /ko -->
                        <!-- ko ifnot: $parent.hasScreenshotStrings($data) -->
                        <a data-bind="attr: { href: `#/projects/${$parent.project().id}/screenshots/new/${name}` }" class="d-block">
                            <div data-bind="component: { name: 'screenshot', params: {} }"></div>
                        </a>
                        <!-- /ko -->
                    </div>
                    <div class="string-text">
                        <!-- ko if: valueOne -->
                        <h5 class="mb-1">
                            <span data-bind="text: valueOne"></span>
                            <span class="text-muted">(One)</span>
                        </h5>
                        <!-- /ko -->
                        <h5 class="mb-1">
                            <span data-bind="text: valueOther"></span>
                            <span data-bind="if: valueOne" class="text-muted">(Other)</span>
                        </h5>
                        <small data-bind="text: name" class="text-muted"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
