#uploader .busy {
    position: absolute;
    right: 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    margin-top: -0.75rem;
    border: 4px solid lightgray;
    border-right-color: gray;
    border-radius: 50%;
    animation: spin .75s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#project-screenshot-detail #screenshot {
    position: relative;
}

#project-screenshot-detail #screenshot > img {
    width: 100%;
}

#project-screenshot-detail #screenshot > #screenshot-areas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#project-screenshot-detail #screenshot > #screenshot-areas > .area {
    position: absolute;
    background: rgba(0, 123, 255, .25);
}

#project-screenshot-detail #screenshot > #screenshot-areas > .area.active {
    background: rgba(0, 123, 255, .75);
}

#project-screenshot-detail #screenshot > #screenshot-areas > .area.pointed {
    border: 1px solid rgba(0, 123, 255, 1);
}

#project-screenshot-detail #screenshot-strings .string {
    cursor: pointer;
}

#project-screenshot-detail .modal .string {
    cursor: pointer;
}

#project-screenshot-list .screenshot {
    position: relative;
    display: inline-block;
}

#project-screenshot-list .screenshot > img {
    width: auto;
    height: 256px;
}

#project-screenshot-list .screenshot > .area {
    position: absolute;
    background: rgba(0, 123, 255, .75);
    opacity: 1;
}

#project-screenshot-list .screenshot > .area:hover {
    opacity: 0;
}

#project-screenshot-list .screenshot.without-strings {
    opacity: .5;
}

