.container-fluid {
  max-width: 960px;
}

.text-muted {
    color: inherit !important;
    opacity: .5;
}

.screenshot {
    position: relative;
}

.screenshot > .area {
    position: absolute;
    background: rgb(255, 127, 0);
    mix-blend-mode: hard-light;
    pointer-events: none;
}

.screenshot.drop-zone {
    background: #343a40;
}

.screenshot.drop-zone > img {
    opacity: .25;
}

#project-screenshot .screenshot > img {
    width: 100%;
    height: auto;
}

#project-screenshot .screenshot > .area {
    background: rgb(159, 79, 0);
}

#project-screenshot .screenshot > .area.active {
    background: rgb(191, 95, 0);
}

#project-screenshot .screenshot > .area.hovered {
    border: 2px solid rgb(255, 127, 0);
}

#project-screenshots .screenshot {
    display: inline-block;
}

#project-screenshots .screenshot > img {
    width: auto;
    height: 360px;
}

#project-strings .screenshot > img {
    width: 100%;
}
