.navbar {
    margin-top: 20px;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
}

.breadcrumbs > li {
    display: inline-block;
}

.breadcrumbs > li:not(:first-child):before {
    content: '/ ';
}

.strings .row {
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
}

.strings .row:last-child {
    border-bottom: none;
}

.strings .row > div {
    margin-bottom: 15px;
}
