{% extends './__base__.html' %}
{% load strings %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="active">
        <a href="{% url 'project_strings' project.uuid %}">Strings</a>
    </li>
    <li>
        <a data-toggle="modal" data-target="#upload-dialog"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ project.strings.count }} string{{ project.strings.count|pluralize }}
        {% if project.strings_upload_time %}uploaded on {{ project.strings_upload_time|date }}, {{ project.strings_upload_time|time }}{% endif %}
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>NAME</th>
            <th>VALUE</th>
        </tr>
        </thead>
        <tbody>
        {% for string in project.strings.all %}
        {% if string.value_one %}
        <tr>
            <td>
                <code class="text-info bg-info">{{ string.name }}</code>
                <nobr> ::</nobr>
                <code class="text-warning bg-warning">one</code>
            </td>
            <td>{{ string.value_one|string_value:string.markers }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <code class="text-info bg-info">{{ string.name }}</code>
                {% if string.value_one %}
                <nobr> ::</nobr>
                <code class="text-warning bg-warning">other</code>
                {% endif %}
            </td>
            <td>{{ string.value_other|string_value:string.markers }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="upload-dialog" class="modal fade" tabindex="-1" role="dialog">
    <form action="{% url 'project_strings' project.uuid %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload strings</h4>
                </div>
                <div class="modal-body">
                    <p>Only Android resource files are supported.</p>
                    <div class="form-group">
                        <input type="file" name="strings_xml" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}