{% extends './__base__.html' %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li>
        <a href="{% url 'project_strings' project.uuid %}">Strings</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<form action="{% url 'project_strings_commit' project.uuid %}" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Upload preview</h3>
        </div>
        <div class="container-fluid">
            {% for change in changes %}
            {% if change.action == 'add' %}
            <div class="row bg-success">
                <div class="col-xs-12 col-sm-6">
                    <samp class="text-success"><strong>+&nbsp;{{ change.name }}</strong></samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-0">
                    <samp class="text-success">{{ change.value_other }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <samp class="text-success">{{ change.value_one }}</samp>
                </div>
            </div>
            {% elif change.action == 'merge' %}
            <div class="row bg-warning">
                <div class="col-xs-12 col-sm-6">
                    <samp class="text-warning"><strong>!&nbsp;{{ change.name }}</strong></samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-0">
                    <samp class="text-success">{{ change.value_other }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <samp class="text-success">{{ change.value_one }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <samp class="text-danger">{{ change.old_value_other }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <samp class="text-danger">{{ change.old_value_one }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <select class="form-control" name="{{ change.name }}" required>
                        <option value=""></option>
                        <option value="keep_suggestions">Keep suggestions</option>
                        <option value="remove_suggestions">Remove suggestions</option>
                    </select>
                </div>
            </div>
            {% elif change.action == 'remove' %}
            <div class="row bg-danger">
                <div class="col-xs-12 col-sm-6">
                    <samp class="text-danger"><strong>-&nbsp;{{ change.name }}</strong></samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-0">
                    <samp class="text-danger">{{ change.value_other }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <samp class="text-danger">{{ change.value_one }}</samp>
                </div>
            </div>
            {% elif change.action == 'update' %}
            <div class="row bg-info">
                <div class="col-xs-12 col-sm-6">
                    <samp class="text-info"><strong>=&nbsp;{{ change.name }}</strong></samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-0">
                    <samp class="text-info">{{ change.value_other }}</samp>
                </div>
                <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6">
                    <samp class="text-info">{{ change.value_one }}</samp>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="panel-footer">
            <a href="{% url 'project_strings' project.uuid %}" class="btn btn-default">Cancel</a>
            <input type="submit" value="Commit" class="btn btn-danger pull-right">
        </div>
    </div>
</form>
{% endblock %}