{% extends 'core/base.html' %}
{% load strings %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="breadcrumb-step first">
        <a href="{% url 'project' project.uuid %}">{{ project.name }}</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="list-group">
    <a href="{% url 'project_strings' project.uuid %}" class="list-group-item">
        <span class="badge badge-info">{{ project.strings.count }}</span>
        Strings
    </a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item">
        <span class="badge badge-warning">{{ project.count_new_suggestions }}</span>
        New suggestions
    </a>
</div>
<div class="list-group">
    {% for translation in project.translations.all %}
    <a href="#" class="list-group-item">
        <span class="badge badge-info">{{ translation.count_required_suggestions }}</span>
        <span class="badge badge-success">{{ translation.count_accepted_suggestions }}</span>
        {{ translation.language.name }}
    </a>
    {% endfor %}
</div>
{% endblock %}