{% extends './__base__.html' %}

{% block content %}
<p>{{ project.name }} learns {{ language.name }}...</p>

<div class="progress">
    <div class="progress-bar progress-bar-success" style="width: {{ progress.percentage_voted }}%">
        <span class="sr-only">{{ progress.percentage_voted }}% Voted suggestions</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: {{ progress.percentage_submitted_only }}%">
        <span class="sr-only">{{ progress.percentage_submitted_only }}% Submitted suggestions</span>
    </div>
</div>

<hr>

{% if string %}
<form method="post">
    {% csrf_token %}

    <input type="hidden" name="string_id" value="{{ string.id }}">
    <input type="hidden" name="plural_form" value="{{ plural_form }}">
    <input type="hidden" name="value" value="">

    <p>How do you say the following in {{ language.name }}?</p>
    <ul class="list-group">
        <li class="list-group-item">{{ string.value_other }}</li>
    </ul>

    {% if suggestions %}
    {% if suggestions|length > 1 %}
    <p>Vote the best suggestion:</p>
    {% else %}
    <p>Vote suggestion:</p>
    {% endif %}
    <div class="existing-suggestions list-group">
        {% for suggestion in suggestions %}
        <a href="#" class="existing-suggestion list-group-item {{ suggestion.voted|yesno:'list-group-item-success,' }}">{{ suggestion.value }}</a>
        {% endfor %}
    </div>
    <p>Or do you have a better one?</p>
    {% else %}
    <p>Your suggestion:</p>
    {% endif %}
    <div class="form-group">
        <input type="text" name="suggestion" class="form-control" placeholder="Suggestion">
    </div>

    <div class="form-group">
        <a href="{% url 'translate' translator_uuid project.uuid language.code %}" class="btn btn-default">Skip</a>
        <button type="submit" class="btn btn-success pull-right" disabled>Submit</button>
    </div>
</form>

<script type="text/javascript">
    $('input[name="value"]').on('change', function (event) {
        var $input = $(event.target);
        var value = $input.val().trim();
        $input.closest('form').find('button[type="submit"]').prop('disabled', value === '');
    })

    $('.existing-suggestion').on('click', function (event) {
        var $item = $(event.target).closest('.list-group-item');
        if ($item.find('.badge').length) {
            $item.find('.badge').remove();
            $('input[name="value"]').val('').change();
        } else {
            var $group = $(event.target).closest('.list-group');
            $group.find('.badge').remove();
            $('input[name="suggestion"]').val('');
            $('input[name="value"]').val($item.text()).change();
            $item.prepend($('<span class="badge">✓</span>'));
        }
    });

    $('input[name="suggestion"]').on('keyup', function (event) {
        $('.existing-suggestions').find('.badge').remove();
        $('input[name="value"]').val($(event.target).val()).change();
    })
</script>
{% else %}
<p>You suggested a translation for each text!</p>
<p>Thanks to your suggestions and the ones from other users like you, {{ project.name }} will speak {{ language.name }} like a pro very soon.</p>
{% endif %}

{% endblock %}
