<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='translators/style.css') }}" rel="stylesheet">

    <title>Localizappion</title>
</head>

<body>
    <div data-bind="if: route().page">
        <div class="mb-5" data-bind="attr: { id: route().page }, component: { name: route().page, params: route() }"></div>
    </div>
    <div class="jumbotron d-none" data-bind="css: { 'd-none': route().page }, ifnot: route().page">
        <div class="container-fluid text-center">
            <h1>Oops!...</h1>
            <span>Your last action was unexpected.</span>
        </div>
    </div>

    <script data-main="{{ url_for('static', filename='translators/main') }}" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</body>

</html>
