<!doctype html>
<html lang="en">
<head>
    <title>Localizappion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <ul class="breadcrumbs">
                        {% block breadcrumb %}
                            <li>Localizappion</li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
            {% block navbar_actions %}{% endblock %}
            <ul class="nav navbar-nav navbar-right">
                {% if not session.logged_in %}
                    {% if request.path != url_for('login') %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h2>{% block title %}{% endblock %}</h2>

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category|replace('error', 'danger')|replace('message', 'info') }}">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>
</body>
</html>