{% extends "layout.html" %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index') }}">L10N</a></li>
    <li>Projects</li>
{% endblock %}
{% block body %}
    {% if projects %}
        <div class="list-group">
            {% for project in projects %}
                <a class="list-group-item" href="{{ url_for('project_detail', project_id=project.id) }}">{{ project.name|default('', true) }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <a href="{{ url_for('project_edit') }}" class="btn btn-default">Add</a>
{% endblock %}
